
<div class="container">
  <h1>Trainingsplanübersicht</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let workout of this.workoutPlan">
      <div class="card-body">
        <h5 class="card-title">{{ workout.title }}</h5>
      </div>
      <img class="card-img-top" [src]="'/assets/pics/'+ workout.title+'.jpg'" alt="Workout picture">
      <a routerLink="/workoutplanDetails/{{ workout.title}}" class="btn btn-outline-info">Details</a>
      <div *ngIf="sessionUser !== null">
      <form *ngIf="sessionUser.username !== workout.username">
        <button (click)="choosePlan(sessionUser.username, workout.title)" class="btn btn-outline-success btn-sm ">Auswählen
        </button>
      </form>
      <form *ngIf="sessionUser.username == workout.username">
        <button (click)="deletePlan(sessionUser.username, workout.title)" class="btn btn-outline-warning btn-sm ">Zurücklegen
        </button>
      </form>
    </div>

    </div>
  </div>
</div>

