<div *ngIf="(!hasRoute('login') && !hasRoute('registration') && !hasRoute('userExercise') && !hasRoute('home'))">
  <nav class="navbar navbar-expand-md navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <img routerLink="/" src="assets/pics/logo2.png" width="55" height="45" class="d-inline-block align-top"
               alt="">
        </li>
        <li class="nav-item active">
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01"
             data-toggle="dropdown">Übungen</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/exerciseList">Alle Übungen</a>
            <a class="dropdown-item" routerLink="/exerciseList/Kraft">Kraft-Übungen</a>
            <a class="dropdown-item" routerLink="/exerciseList/Ausdauer">Ausdauer-Übungen</a>
            <a class="dropdown-item" routerLink="/exerciseList/Abnehmen">Abnehm-Übungen</a>
          </div>
        </li>

        <li class="nav-item">
          <a routerLink="/trainingspläne" class="nav-link" href="#">Trainingspläne</a>
        </li>

        <li class="nav-item">
          <div [hidden]="sessionUser === null">
            <a routerLink="/overview" class="nav-link" href="#">Mein Workout</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <div [hidden]="sessionUser !== null">
            <a routerLink="/login" class="nav-link" href="#">Login</a>
          </div>
        </li>
        <div [hidden]="sessionUser !== null">
          <li class="nav-item">
            <a routerLink="/registration" class="nav-link" href="#">Registration</a>
          </li>
        </div>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-danger" (click)="logout()" [hidden]="sessionUser === null">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>




<router-outlet></router-outlet>


<br>
<br>
<br>
<footer class="py-1 bg-dark">
  <div class="container">
    <a class="m-0 text-center text-white" routerLink="/disclaimer">Disclaimer</a>
  </div>
</footer>


