<header class="py-5 mb-5" style="background-color:#e3f2fd">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-black mt-5 mb-2">AWO | Academic Work-Out</h1>
        <p class="lead mb-5 text-black-50">Die Fitnessseite für Alle. Führende Fitnessexperten
          und Olympiasieger empfehlen diese Seite für deinen ganz persönlichen Trainingsplan.</p>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>What We Do</h2>
      <hr>
      <p>Hier ganz Du ganz einfach und bequem deinen persönlichen Trainingplan erstellen. Egal, ob Du Ausdauer oder Kraft trainieren
        oder Du gezielt Abnehmen möchtest, bei uns findest dein perfektes Training.</p>
      <p>Fange SOFORT an und melde Dich KOSTENLOS an. DEIN WEG ZUM GLÜCK!</p>
      <a class="btn btn-outline-info btn-lg" href="#">Further Reading</a>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contact Us</h2>
      <hr>
      <address>
        <strong>AWO c/o AW Academy</strong>
        <br> Walther-von-Dyck-Straße 8
        <br> 85748 Garching bei München, Deutschland
        <br>
      </address>
      <address>
        <abbr title="Phone">P: </abbr>
        123 / 456 7890
        <br>
        <abbr title="Email">E: </abbr>
        <a href="mailto:#">awo@example.com</a>
      </address>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/pics/Wallpaper.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Lade Deine Freunde ein!</h4>
          <p class="card-text">Gemeinsam trainieren macht mehr Spass, lade deine Freunde ein
            und motiviert Euch gegenseitig.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-info">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/pics/Wallpaper2.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Der Weg zum Traum-Body</h4>
          <p class="card-text">Mit unseren einfachen Einstieg ins Training, schafft auch Du das!
          TRAU DICH! Du wirst es sicher nicht bereuen.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-info">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="assets/pics/Wallpaper3.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Auch für Profis</h4>
          <p class="card-text">Auch Profis werden hier Glücklich!
            Jeder kann hier seinen persönlichen Trainingsplan erstellen
          und stetig anpassen und seine Leistung steigern!</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-outline-info">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>
</div>
