<div class="container">
  <div class="card">
    <div class="card-body">
      <div *ngFor="let session of this.workoutSession">
        <div class="card">
          <h5 class="card-header text-center" style="background-color: #e3f2fd">Session: {{session.title}}</h5>
          <div class="card-body">
            <h6 class="card-title">
              <div *ngFor="let exercise of session.exercises">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <li>{{exercise.title}}</li>
                    </div>
                    <div class="col">
                      <ul>
                        <div *ngIf="exercise.repetitions !== 0">
                                  <span class="badge badge-info badge-pill">{{exercise.repetitions}} reps x {{exercise.sets}}sets</span>
                        </div>
                        <div *ngIf="exercise.repetitions === 0">
                          <span class="badge badge-info badge-pill">{{exercise.dauer}} minuten</span>
                        </div>
                      </ul>
                    </div>
                    <div class="col">
                      <a routerLink="/exerciseDetails/{{ exercise.title }}"
                         class="btn btn-outline-info">Details</a>
                    </div>
                    <div class="col">
                      <img [src]="'/assets/pics/'+exercise.title+'.jpg'" alt="exercise picture" height="60"
                           width="60">
                    </div>
                  </div>
                </div>
              </div>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


