
<div class="login-form">
  <form *ngIf="sessionUser === null" (ngSubmit)="login()">
    <div class="avatar">
      <img routerLink="/" src="/assets/pics/logo2.png" alt="Avatar">
    </div>
    <h2 class="text-center">Member Login</h2>
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Username" required="required"
             [(ngModel)]="loginData.username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required="required"
             [(ngModel)]="loginData.password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
    </div>
  </form>
  <p class="text-center dark small">Don't have an account?<a routerLink="/registration" class="nav-link" href="#">Sign up here!</a></p>
</div>
