
<div class="container">
  <form>
    <div class="avatar">
      <img routerLink="/" src="/assets/pics/logo2.png" alt="Avatar">
    </div>
    <h2 class="text-center">Trainingsdaten: {{exerciseTitel}}</h2>
    <div class="form-text">
      Sets: <input type="text" class="form-text" name="sets" placeholder="{{userExercise.sets}}"
             [(ngModel)]="userExercise.sets">
    </div>
    <div class="form-text">
      Reps: <input type="text" class="form-text" name="repetitions"
             [(ngModel)]="userExercise.repetitions">
    </div>
    <div class="form-text">
      Gewicht in Kilo: <input type="text" class="form-text" name="weight"
             [(ngModel)]="userExercise.weight">
    </div>
    <div class="form-text">
      Dauer in Minuten: <input type="text" class="form-text" name="dauer"
             [(ngModel)]="userExercise.dauer">
    </div>
    <div class="form-text">
      Puls: <input type="text" class="form-text" name="puls"
             [(ngModel)]="userExercise.puls">
<!--    </div>-->
<!--    <div class="form-text">-->
<!--      Wie hast du dich bei der Übung gefühlt? <input type="text" class="form-text" name="impression"-->
<!--             [(ngModel)]="userExercise.impression">-->
<!--    </div>-->
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Wie hast du dich bei der Übung gefühlt? </label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="impression" rows="3" [(ngModel)]="userExercise.impression">
      </textarea>
    </div>
    <div class="form-text">
      <button (click)="submit()" class="btn btn-success">Update</button>
    </div>
    </div>
  </form>
</div>

