<div *ngIf="sessionUser === null">Melde dich an, um Trainingspläne angezeigt zu bekommen</div>
<div *ngIf="sessionUser !== null">
  <h1 *ngIf="isInvisible === true || workoutPlan[0] === undefined" class="card-header text-center" style="background-color: #e3f2fd" routerLink="/trainingspläne">Wähle einen Trainsplan aus!</h1>
  <br>

  <div *ngIf="isInvisible !== true && workoutPlan[0] !== undefined" class="container">
    <div class="card">
      <div class="card-body">

        <div class="card">


          <div *ngFor="let workout of workoutPlan">

            <h3 class="card-header text-center" style="background-color: #e3f2fd">{{workout.title}}</h3>

            <div class="card-body text-center">

              <h5 class="card-text">
                Trainingswoche:
                {{workout.workoutWeek + 1}}
                Tag:
                {{workout.workoutDay + 1}}
              </h5>
              <button type="button" class="btn btn-outline-success"
                      (click)="updateplan(workout.workoutWeek, workout.workoutDay, workout.title)">Done
              </button>
              <button type="button" class="btn btn-outline-warning" (click)="resetplan(workout.title)">Reset</button>
              <button type="button" class="btn btn-outline-danger"
                      (click)="deletePlan(sessionUser.username, workout.title)">Delete
              </button>
            </div>
          </div>
          <hr>

          <div *ngIf="isInvisible !== true && workoutPlan[0] !== undefined">
            <h3 class="card-text text-center text-success">{{counterValue}} % </h3>
            <hr>
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
          </div>
        </div>

        <div class="container">
          <div class="card">
            <div class="card-body">
              <div *ngFor="let session of sessionList">
                <div class="card">
                  <h5 class="card-header text-center" style="background-color: #e3f2fd">Session: {{session.title}}</h5>
                  <div class="card-body">
                    <h6 class="card-title">
                      <div *ngFor="let exercise of session.exercises">
                        <div class="container">
                          <div class="row">
                            <div class="col">
                              <li>{{exercise.title}}</li>
                            </div>

                            <div class="col">
                            <ul>
                              <div *ngIf="exercise.repetitions !== 0">
                                  <span class="badge badge-info badge-pill">{{exercise.repetitions}}
                                    reps x {{exercise.sets}}sets</span>
                              </div>
                              <div *ngIf="exercise.repetitions === 0">
                                <span class="badge badge-info badge-pill">{{exercise.dauer}} minuten</span>
                              </div>
                            </ul>
                          </div>

                            <div class="col">
                              <a routerLink="/userExercise/{{sessionUser.username}}/{{exercise.title}}"
                                 class="btn btn-outline-info">Exercise-Diary</a>
                            </div>
                            <div class="col">
                              <img [src]="'/assets/pics/'+exercise.title+'.jpg'" alt="exercise picture" height="60"
                                   width="60"routerLink="/exerciseDetails/{{ exercise.title }}">
                            </div>
                          </div>
                          <hr>
                        </div>
                      </div>
                    </h6>
                  </div>
                </div>
                <br>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
