<div class="card" style="width: 25rem;">

  <div class="card-body">
    <h5 class="card-title">{{ exercise.title }}</h5>
    <img class="card-img-top" [src]="'/assets/gifs/'+exercise.title+'.gif'" alt="Article picture">

    <h6 class="card-text">Muskelgruppe: {{exercise.muscleType}}</h6>
    <h6 class="card-text">Kategorie: {{exercise.category}}</h6>
    <p class="card-text">{{ exercise.description }}</p>
  </div>
</div>

