<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let exercise of this.exercises">
      <div class="card-body">
        <h5 class="card-title">{{ exercise.title }}</h5>
        <img [src]="'/assets/pics/'+exercise.title+'.jpg'" alt="exercise picture" height="250" width="250">
        <a routerLink="/exerciseDetails/{{ exercise.title }}" class="btn btn-outline-info">Details</a>
      </div>
    </div>
  </div>
</div>
