
<div class="login-form">
  <form>
    <div class="avatar">
      <img routerLink="/" src="/assets/pics/logo2.png" alt="Avatar">
    </div>
    <h2 class="text-center">Registration</h2>
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Username" required="required"
             [(ngModel)]="registerData.username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required="required"
             [(ngModel)]="registerData.password">
    </div>
    <div class="form-group">
      <button (click)="register()" class="btn btn-primary btn-lg btn-block">Sign up</button>
    </div>
  </form>
  <p class="text-center text-info small">You already have an account?<a routerLink="/login" class="nav-link" href="#">Login here!</a></p>
</div>


